<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>
<div class="container table-responsive">
    <br>
    <h2 class="text-center">Categorias</h2>
    <a class="btn btn-dark float-right" href="/admin/categories/new">Criar nova categoria</a>
    <br>
    <br>
    <table class="table table-bordered table-striped table-hover " style="text-align:center">
        <caption>Lista de categorias</caption>
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach(category => { %>
                <tr>
                    <th><%= category.id %></th>
                    <th><%= category.title %></th>
                    <th><%=category.slug %></th>
                    <th>
                        <a href="/admin/categories/edit/<%= category.id %>" class="btn btn-secondary mr-1"><i class="fas fa-edit"></i></a>

                        <form method="POST" action="/categories/delete" style="display: inline" onsubmit="deleteConfirmation(event, this)">
                            <input type="hidden" name="id" value="<%= category.id %>">
                            <button class="btn btn-dark mr-1"><i class="far fa-trash-alt"></i></button>
                        </form>

                        
                    </th>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<%- include ('../../partials/footer.ejs') %>
<script>
    function deleteConfirmation(event, form){
        event.preventDefault();
        var decision = confirm("Deseja realmente excluir essa categoria?");
        if(decision){
            form.submit();
        }
    }
</script>